@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  margin: 0;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(155, 155, 155);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(110, 110, 110);
}
.chapter-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: #41228e;
}
.nav-chapter-logo2 {
  width: fit-content;
  margin-left: 1vw;
}
.nav-chapter-logo2 img {
  width: 250px;
}
.chapter-nav-btn {
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
}
.nav-btn {
  background: none;
  outline: none;
  box-shadow: none;
  border: none;
  font-family: poppins;
  cursor: pointer;
  font-size: medium;
  margin-top: 0px;
}
.nav-btn a {
  text-decoration: none;
  font-family: poppins;
  cursor: pointer;
  font-size: medium;
  color: rgb(255, 255, 255);
  padding: 7px 10px;
  border-radius: 2mm;
  width: 100%;
  height: 100%;
  font-weight: bold;
}
.nav-btn a:hover {
  background: rgba(211, 211, 211, 0.137);
}
.nav-btn .nav-link{
  color: white;
}
.nav-dots {
  position: relative;
  display: inline-block;
  padding: 0;
}
.nav-dots .threedots {
  margin-right: 16px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  background: rgb(255, 255, 255);
}
.nav-dots .threedots:hover > span {
  color: rgb(176, 255, 176);

}
.nav-dots .threedots:hover{
  background: rgb(220, 220, 220);
}
.nav-dots .threedots span {
  font-size: x-large;
  text-align: center;
  color: rgb(49, 49, 49);
}
.dots-nav {
  position: absolute;
  background: white;
  z-index: 99999;
  right: 16px;
  min-width: 200px;
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: fit-content;
  padding: 12px 0;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 3mm;
}
.nav-btn4 {
  text-align: center;
  width: 100%;
  height: fit-content;
  text-decoration: none;
  font-family: poppins;
  font-size: medium;
  padding: 7px 0;
  color: rgb(39, 39, 39);
  margin: 3px 0;
  border-bottom-right-radius: 6mm;
  border-top-right-radius: 6mm;
}
.nav-btn4:hover {
  background: rgba(145, 145, 145, 0.137);
}
.mbutton {
  display: none;
  text-decoration: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.mbutton span {
  font-size: xx-large;
}
.mbutton:hover {
  color: red;
}
.chapter-navigation2 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 99999;
  background: white;
  transform: translateX(101vw);
  transition: 0.25s;
}
.topbar {
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav2images img {
  width: 60px;
  margin-left: 10px;
  margin-top: 5px;
}
.chapter-nav-btn2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 9vh;
  height: 75vh;
  margin-bottom: 9vh;
}
.nav-btn2 {
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  font-family: poppins;
  font-size: 27px;
  font-weight: bolder;
  color: black;
  margin-left: 5vw;
  margin-bottom: 10px;
}
.nav-btn2 a:hover {
  color: dodgerblue;
}
.nav-btn2 a {
  text-decoration: none;
  font-weight: bolder;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chnav2end {
  width: 90vw;
  margin-left: 5vw;
  padding-top: 5%;
  border-top: rgb(187, 187, 187) solid 1px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
.nav-btn3 {
  text-decoration: none;
  outline: none;
  border: none;
  background: none;
}
.nav-btn3 a {
  text-decoration: none;
  font-family: poppins;
  font-size: large;
  color: rgb(80, 80, 80);
}
.nav-btn3 a:hover {
  color: dodgerblue;
}
#menu-open:hover {
  color: dodgerblue;
}
#menu-open{
  color: white;
}
.bg-light {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f7f7f7;
}

.line2 {
  width: 95vw;
  margin-left: 2.5vw;
  height: 1px;
  background: rgba(37, 37, 37, 0.123);
  border-radius: 1mm;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media all and (max-width: 900px) {
  .chapter-navigation {
    align-items: center;
    justify-content: space-between;
  }
  .chapter-nav-btn {
    width: auto;
    display: none;
  }
  .nav-chapter-logo {
    width: auto;
    align-self: center;
  }
  .nav-chapter-logo2 {
    width: auto;
  }
  .nav-btn {
    display: none;
  }
  .mbutton {
    display: block;
  }
  .footer-left {
    width: 100%;
  }
  .footer-right {
    width: 100%;
  }
  ::-webkit-scrollbar {
    width: 2px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(155, 155, 155);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110);
  }
}
