<footer class="bg-dark footer-section">
<div class=" text-center border-dark py-5">
        <p class="mb-0 text-light">Copyright ©
          <script>
            var CurrentYear = new Date().getFullYear()
            document.write(CurrentYear)
          </script> <a href="https://www.iare.ac.in" target="_blank">Institute of Aeronautical Engineering</a></p>| <a href="https://forms.gle/J6rtgiSRx4msuuQT6">Share Feedback </a>|
      </div>
</footer>