<footer class="bg-dark footer-section">
    <!-- <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5 class="text-light">Email</h5>
            <p class="text-white paragraph-lg font-secondary">steve.fruits@email.com</p>
          </div>
          <div class="col-md-4">
            <h5 class="text-light">Phone</h5>
            <p class="text-white paragraph-lg font-secondary">+880 2544 658 256</p>
          </div>
          <div class="col-md-4">
            <h5 class="text-light">Address</h5>
            <p class="text-white paragraph-lg font-secondary">125/A, CA Commercial Area, California, USA</p>
          </div>
        </div>
      </div>
    </div> -->
    <div class="border-top text-center border-dark py-5">
      <p class="mb-0 text-light">Copyright ©<script>
          var CurrentYear = new Date().getFullYear()
          document.write(CurrentYear)
        </script> Institute of Aeronautical Engineering</p>
    </div>
  </footer>
  <!-- /footer -->