<!-- footer -->
<footer class="bg-dark footer-section">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5 class="text-light">Email</h5>
            <p class="text-white paragraph-lg font-secondary">Email Goes Here</p>
          </div>
          <div class="col-md-4">
            <h5 class="text-light">Phone</h5>
            <p class="text-white paragraph-lg font-secondary">Phone Number Goes here</p>
          </div>
          <div class="col-md-4">
            <h5 class="text-light">Address</h5>
            <p class="text-white paragraph-lg font-secondary">Dundigal, Telangana , 500043</p>
          </div>
        </div>
      </div>
    </div>
    <div class="border-top text-center border-dark py-5">
      <p class="mb-0 text-light">Copyright ©
        <script>
          var CurrentYear = new Date().getFullYear()
          document.write(CurrentYear)
        </script> <a href="https://www.iare.ac.in">Institute of Aeronautical Engineering</a></p>
    </div>
  </footer>