<footer class="bg-dark" id="footers">
  <div class="footer-social">
    <div class="footer-social-elements">
      <p>Follow Us</p>
      <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
      <a
        href="https://www.youtube.com/channel/UCrN2YGajq0ITaokeOn2LEpQ"
        target="_blank"
        ><i class="fab fa-youtube"></i
      ></a>
      <a href="https://www.facebook.com/IAREOFFICIAL/" target="_blank"
        ><i class="fab fa-facebook-square"></i
      ></a>
    </div>
  </div>
  <div class="line2"></div>
  <div class="footer-section">
    <div class="footer-left">
      <div class="footer-left-titles">
        <a href="http://buildit.iare.ac.in/" target="_blank">Build-IT</a>
      </div>
      <div class="footer-left-links">
        <a href="https://www.iare.ac.in" target="_blank">IARE</a>
      </div>
      <div class="footer-left-links">
        <a href="https://www.codechef.com/" target="_blank">CodeChef</a>
      </div>
      <div class="footer-left-links">
        <a href="https://forms.gle/J6rtgiSRx4msuuQT6" target="_blank"
          >Feedback</a
        >
      </div>
    </div>
    <div class="footer-right">
      <p>
        Copyright ©
        <script>
          var CurrentYear = new Date().getFullYear();
          document.write(CurrentYear);
        </script>
      </p>
    </div>
  </div>
</footer>
