<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="./images/iare-chapter/iare-logo.png"
      type="image/x-icon"
    />
    <style>
      body {
        display: flex;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
        justify-content: center;
        flex-direction: column;
      }
      .material-icons {
        font-size: 300px;
        color: red;
      }
      .text {
        font-family: poppins;
        margin: 0;
      }
      .text h1 {
        font-size: 100px;
        margin: 0;
        text-align: center;
      }
      .text p {
        margin: 0;
        text-align: center;
        font-size: 30px;
      }
      a {
        text-decoration: none;
        background: dodgerblue;
        padding: 7px 10px;
        border-radius: 2mm;
        color: white;
        font-family: poppins;
        margin-top: 10px;
      }
      img {
        width: 70px;
        position: absolute;
        top: 5px;
        left: 5px;
      }
    </style>
  </head>
  <body>
    <img src="../images/iare-chapter/Iare Original logo.jpg" alt="logo" />
    <span class="material-icons"> sentiment_very_dissatisfied </span>
    <div class="text">
      <h1>404</h1>
      <p>Page Not Found</p>
    </div>
    <a href="/">Back to Home</a>
  </body>
</html>
