<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
      .go {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px; 
      background: #095484;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      .go:hover {
      background: #0666a3;
      }
      @media (min-width: 568px) {
      th, td {
      word-break: keep-all;
      }
      }
      .button {
  border-radius: 4px;
  background-color: #454fd4;
  border: none;
  color: white;
  /* text-align: center; */
  font-size:  px;
  padding: 5px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1s;
}

.button span:after {
  content: '\00bb';
  position: "relative";
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
    </style>
  </head>
  <body>
      <br><br><br><br><br><br><br><br><br><br><br><br><br>
      <center><h4>Contest Admin Panel</h4></center><br>
      <center><a href= "http://localhost:3000/contestadmin" style="color:white" ><button class = "go">Go!</button></a><br><br></center>
      <center><h4> Question Admin Panel</h4></center><br>
      <center><a href= "http://localhost:3000/questionadmin" style="color:white" ><button class = "go">Go!</button></a><br><br></center>
    </div>
  </body>
</html>