<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
       .submit {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px; 
      background: #095484;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      .submit:hover {
      background: #0666a3;
      }
      @media (min-width: 568px) {
      th, td {
      word-break: keep-all;
      }
      }
    </style>
  </head>
  <body>

    <center><h4>Didn't find what you were looking for?</h4><a href= "http://localhost:3000/home" style="color:white" ><button class = "submit">Go Home</button></a></center><br><br>
    <div>
      <br>
      <center><h4>Contest Admin Panel</h4></center><br>
      <center><a href= "http://localhost:3000/admin/add/contest" style="color:white" ><button class = "submit">Go!</button></a></center><br><br>
      <center><h4> Question Admin Panel</h4></center><br>
      <center><a href= "http://localhost:3000/admin/add/question" style="color:white" ><button class = "submit">Go!</button></a></center><br><br>
      <center><h4> See the results:</h4></center><br><br>
      <center><a href= "http://localhost:3000/admin/results" style="color:white" ><button class = "submit">Here!</button></a><br><br></center>
      <center><h4> Want to update Contests/Questions Instead?</h4></center><br><br>
      <center><a href= "http://localhost:3000/admin/update" style="color:white" ><button class = "submit">Click Here</button></a><br><br></center>
    </div>
  </body>
</html>