<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../images/logo-backup2.png" />
    <title>Resumes</title>
    <style>
        body{
            position: relative;
        }
        .toggle{
            position: absolute;
            top: 5px;
            left: 5px;
        }
        .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@media print{
  .toggle{
    visibility: hidden;
    display: none;
  }
}
    </style>
</head>
<body>
    <div class="toggle">
        Contact Details
        <br>
        <label class="switch">
  <input type="checkbox" id="inp">
  <span class="slider round"></span>
</label>
    </div>
    <script>
        var inp = document.getElementById("inp")
        var i=0;
        inp.onchange=function(){
            var tog = document.querySelector(".toggle")
            var con =document.querySelectorAll(".contact")
            var con2 = document.querySelectorAll(".persdetails2")
            var con3 = document.querySelectorAll(".contactDetails3")
            var con4 = document.querySelectorAll(".social-list")
            var con5 = document.querySelectorAll(".social-list5")
                for(var j=0;j<con.length;j++){
                    con[j].style.display="none"
                }
                for(var j=0;j<con2.length;j++){
                    con2[j].style.display="none"
                }
                for(var j=0;j<con3.length;j++){
                    con3[j].style.display="none"
                }
                for(var j=0;j<con4.length;j++){
                    con4[j].style.display="none"
                }
                for(var j=0;j<con5.length;j++){
                    con5[j].style.display="none"
                }
                tog.style.display='none'
        }
    </script>
    <% for(var i=0;i<resumes.length;i++) {%>
        <% var data=resumes[i] %>
        <% if(data.themeId=="theme1"){ %>
        <% include ../views/ResumeTemplates/theme1 %>
        <%}%>
        <% if(data.themeId=="theme2"){ %>
            <% include ../views/ResumeTemplates/theme2 %>
            <%}%>
            <% if(data.themeId=="theme3"){ %>
                <% include ../views/ResumeTemplates/theme3 %>
                <%}%>  
                <% if(data.themeId=="theme4"){ %>
                    <% include ../views/ResumeTemplates/theme4 %>
                    <%}%>
                    <% if(data.themeId=="theme5"){ %>
                    <% include ../views/ResumeTemplates/theme5 %>
                    <%}%>
    <%}%>
</body>
</html>