<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Admin menu</title>
		<meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
		<meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" href="../../css/navadmin.css">
		<link rel = "icon" type = "image/png" href = "../../images/logo-backup2.png">
		<script src="/adminjs/modernizr.custom.js"></script>
		<style>
			.new {
				font-family: sans-serif;
				font-size: 18px;
				color: black;
				line-height: normal;
				clear: both;
			}
			#mcq, #coding {
				width: fit-content;
				border: 1px solid #c4c4c4;
				border-radius: 5px;
				box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
			}
			/* #coding {
				margin-left: 10%;
			} */
			#mcq {
				margin-left: 50px;
			}
			.answer {
				display: none;
			}
			.is_specific {
				width: fit-content;
			}
			.question > .comments{
				display: inline;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<% include ../views/partials/adminpanel %>
			<header>
				<h1>Manage Contests<span style="color:white">Add Contests</span></h1>	
			</header> 
			<div class="main-block">
				<form action="<%= data.serverurl %>/contests" enctype="multipart/form-data" onsubmit="return handleSubmit()"
					method="POST">
				  <h4>Contest ID</h4>
				  <textarea name="contestId" rows = "5"></textarea>
				  <p class="comments">Contest Name</p>
				  <textarea name="contestName" rows="5"></textarea>
				  <p class="comments">Contest Date</p>
				  <input name="contestDate" type="date"></textarea>
				  <p class="comments">Contest Duration</p>
				  <textarea placeholder="in minutes" name="contestDuration" rows="5"></textarea>
				  <p class="comments">Contest Start Time</p>
				  <textarea placeholder="24 Hours HHMM format" name="contestStartTime" rows="5"></textarea>
				  <p class="comments">Contest End Time</p>
				  <textarea placeholder="24 Hours HHMM format" name="contestEndTime" rows="5"></textarea>
				  <p class="comments">Contest Password</p>
				<textarea name="contestPassword" id="" rows="5" placeholder="Enter Password"></textarea>
					<div class="question">
						<p class="comments">Is Roll Number Specific?&emsp;</p>
						<input class="is_specific" type="checkbox" name="is_specific" value="1" onchange="valueChanged()"/>
						<span class="item-text">Yes</span>
					</div>
					<fieldset class="answer">
						<p class="comments">Upload Excel File Here</p>
						<input type="file" name="upfile" value="">
					</fieldset>
					<input type="hidden" name="mcq" value=false id="coding">
					<br><hr>
				
				  <textarea type="hidden" name="token" id="token" value="<%= token %>" style="display: none;"></textarea>
				  <div class="btn-block">
					<button  class= "submit" type="submit" href="/">Send</button>
				  </div>
				</form>
			  </div>
		</div><!-- /container -->
		<script src="/adminjs/classie.js"></script>
		<script src="/adminjs/gnmenu.js"></script>
		<script src="plugins/jQuery/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
		<script>
			document.getElementById("token").value = "<%= token %>";
		</script>
		<script>
			function valueChanged() {
				if ($('.is_specific').is(":checked"))
					$(".answer").show();
				else
					$(".answer").hide();
			};

			const isNumeric = (value) => /^\d\d$/.test(value);

			function handleSubmit() {
				let is_specific = document.querySelector(".is_specific").checked;

				if (is_specific === true) {
					let roll_no_format = document.getElementById("roll_no_format").value;

					let year = roll_no_format.substr(0, 2);
					let branch = roll_no_format.substr(6, 8);
					let isValid = roll_no_format.length === 8 && isNumeric(year) && isNumeric(branch);
					if (!isValid) {
						window.alert("Invalid format!");
						return false;
					}
				}

				return true;
			}
		</script>
	</body>
</html>