<!DOCTYPE html>
<html>
  <head>
    <title>Admin Results</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
		<meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" /> 
		<script src="/adminjs/modernizr.custom.js"></script>
    <style>
      html, body {
      min-height: 100%;
      }
      body, input { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
      }
      h1, h4 {
      font-weight: 400;
      }
      h4 {
      margin: 22px 0 4px;
      }
      h5 {
      text-transform: uppercase;
      color: #095484;
      }
      .main-block {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px;
      }
      form {
      width: 100%;
      padding: 20px;
      box-shadow: 0 2px 5px #ccc; 
      background: #fff;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      border-radius: 3px;
      border: 1px solid #ccc;
      vertical-align: middle;
      }
      textarea {
      width: calc(100% - 6px);
      outline: none;
      }
      input:hover, textarea:hover {
      outline: none;
      border: 1px solid #095484;
      }
      th, td {
      width: 15%;
      padding: 15px 0;
      border-bottom: 1px solid #ccc;
      text-align: center;
      vertical-align: unset;
      line-height: 18px;
      font-weight: 400;
      word-break: break-all;
      }
      .additional-question th, .additional-question td {
      width: 38%;
      }
      .course-rate th, .course-rate td {
      width: 19%;
      }
      .first-col, .additional-question  .first-col, .course-rate .first-col {
      width: 24%;
      text-align: left;
      }
      .question, .comments {
      margin: 15px 0 5px;
      }
      .question-answer label {
      display: inline-block;
      padding: 0 20px 15px 0;
      }
      .question-answer input {
      width: auto;
      }
      .question-answer, table {
      width: 100%;
      }
      .btn-block {
      margin-top: 20px;
      text-align: center;
      }
      .submit {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px; 
      background: #095484;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      .submit:hover {
      background: #0666a3;
      }
      @media (min-width: 568px) {
      th, td {
      word-break: keep-all;
      }
      }
      .button {
  border-radius: 4px;
  background-color: #454fd4;
  border: none;
  color: white;
  /* text-align: center; */
  font-size:  px;
  padding: 5px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1s;
}

.button span:after {
  content: '\00bb';
  position: "relative";
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.dropdown {
  position: relative;
  max-width: max-content;
  margin: 20vh auto;
}

.dropdown__button {
  padding: 10px 20px;
  background-color: #323b40;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.dropdown__button:hover {
  background-color: #222222;
}

.dropdown__menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 0;
  background-color: #ffffff;
  color:blue;
  box-shadow: 0 3px 2px rgba(0,0,0,0.3);
  transition: all .5s ease-in-out;
}

.dropdown:hover .dropdown__menu {
  height: 120px;
}

.dropdown__menu a{ 
  padding: 10px;
  color:blue;
  text-decoration: none;
  border-top: 1px solid #e0e0e0;
}

.dropdown__menu a:hover {
  background-color:#f0f0f0;
  color:blue;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.b div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
    </style>
  </head>
  <body>
      <div class="container">
          <ul id="gn-menu" class="gn-menu-main">
            <li class="gn-trigger">
              <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
              <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                  <ul class="gn-menu">
                    
                    <li>
                      <a class="gn-icon gn-icon-download" >Manage Contests</a>
                      <ul class="gn-submenu">
                        <li><a class="gn-icon gn-icon-illustrator" href="http://localhost:3000/admin/add/contest">Add Contests</a></li>
                        <li><a class="gn-icon gn-icon-photoshop" href="http://localhost:3000/admin/update/contest">Update Contests</a></li>
                        <li><a class="gn-icon gn-icon-photoshop" href="http://localhost:3000/admin/update/contest">Delete Contests</a></li>
                      </ul>
                    </li>
                    <li>
                      <a class="gn-icon gn-icon-download" >Manage Questions</a>
                      <ul class="gn-submenu">
                        <li><a class="gn-icon gn-icon-illustrator" href="http://localhost:3000/admin/add/question">Add Questions</a></li>
                        <li><a class="gn-icon gn-icon-photoshop" href="http://localhost:3000/admin/update/question">Update Questions</a></li>
                        <li><a class="gn-icon gn-icon-photoshop" href="http://localhost:3000/admin/update/question">Delete Questions</a></li>
                      </ul>
                    </li>
                    <li><a class="gn-icon gn-icon-cog" >Manage users</a></li>
                    <li><a class="gn-icon gn-icon-help" href="http://localhost:3000/admin/results">Results</a></li>
                    
                  </ul>
                </div><!-- /gn-scroller -->
              </nav>
            </li>
            <li><a href="http://localhost:3000/admin/results">Refresh</a></li>
            <li><a class="codrops-icon codrops-icon-prev" href="http://localhost:3000/logout"><span>Logout</span></a></li>
            
          </ul>
          <header>
            <h1>Results<span>of Contests</span></h1>	
		  </header> 


<div class = "b">
		<h3 style="color:white">Select Contests</h3>
  <form action="<%= data.url %>" method = "<%= data.method %>">
    <select id="contestId" name="contestId">
	<% for (let i = 0; i < data.length; i++){ %>
	  <option value="<%= data[i].contestId %>"><%= data[i].contestName %></option>
	  <% } %>
    </select>
  
    <input type="submit" value="Submit">
  </form>
</div>
		<script src="/adminjs/classie.js"></script>
		<script src="/adminjs/gnmenu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
  </body>
</html>