
 
  
  <!-- /page title -->
  
  /* 
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="font-tertiary mb-5">
            <a href= "<%= data.url %>/ide %>" style="color:white" target="_blank"><button class = "button" font = "font-tertiary" style = "float: right" position = "right"><span>Online Editor</span></button></a><br>
          </div>  
        </div>
      </div>
  </div>
  </section> */
  /* 
    <section class="section">
    <div class="container">
      <div class="row">
          <div class="font-tertiary mb-5">
              <a href="pdf/set1" target="_blank" class="btn btn-info btn-lg">SET 1</a>
  
          </div>  
        
        <hr>
        
          <div class="font-tertiary mb-5">
              <a href="pdf/set2" target="_blank" class="btn btn-info btn-lg">SET 2</a>
          </div>  
        
        <hr>
        
          <div class="font-tertiary mb-5">
              <a href="pdf/set3" target="_blank" class="btn btn-info btn-lg">SET 3</a>
          </div>  
        
        <hr>
        
          <div class="font-tertiary mb-5">
              <a href="pdf/set4" target="_blank" class="btn btn-info btn-lg">SET 4</a>
          </div>  
        
        <hr>
        
          <div class="font-tertiary mb-5">
              <a href="pdf/set5" target="_blank" class="btn btn-info btn-lg">SET 5</a>
          </div>  
        </div> </div>
        </section>
       */


       <section>
        <div class = "container">
          <body>
            <table border = "1">
                <tr>
                   <td colspan = "2">---</td>
                   <td colspan = "2">---</td>
                   
       
                </tr>
                
                <tr>
                 <td>---</td>
                 <td colspan = "2">---</td>
                 
                 <td>---</td>
       
       
                </tr>
                <tr>
                 <td colspan = "4" align = "center">---</td>
                 
                 
       
       
                </tr>
             </table>
            
         </body>
        </div>
      </section>


      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="font-tertiary mb-5">
                <a href= "<%= data.url %>/ide %>" style="color:white" target="_blank"><button class = "button" font = "font-tertiary" style = "float: right" position = "right"><span>Editor</span></button></a><br>
              </div>  
            </div>
          </div>
      </div>
      </section>
      <section class="section">
        <div class="container">
          <div class="row">
            <div class="font-tertiary mb-5">
                <a href="pdf/set1" target="_blank" class="button2">SET 1</a>
    
            </div>  
            
              <hr>
            
              <div class="font-tertiary mb-5">
                  <a href="pdf/set2" target="_blank" class="button2">SET 2</a>
              </div>  
            
              <hr>
            
              <div class="font-tertiary mb-5">
                  <a href="pdf/set3" target="_blank" class="button2">SET 3</a>
              </div>  
            
              <hr>
            
              <div class="font-tertiary mb-5">
                  <a href="pdf/set4" target="_blank" class="button2">SET 4</a>
              </div>  
            
              <hr>
            
              <div class="font-tertiary mb-5">
                  <a href="pdf/set5" target="_blank" class="button2">SET 5</a>
              </div>  
            </div> </div>
            </section>
    