<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title id = "demo1"></title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
  <link rel = "icon" type = "image/png" href = "../../images/logo-backup2.png">

  <!-- Main Stylesheet -->
  <link href="css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

  <style>
    .green {
      color: green;
    }
    .red {
      color: red;
    }
    .orange {
      color: orange;
    }
    .black {
      color: black;
    }

    .button1 {
  border-radius: 4px;
  background-color: #454fd4;
  border: none;
  color: white;
  text-align: center;
  font-size:  15px;
  padding: 5px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  transition: 1s;
}

.button1 span:after {
  content: '\21B6';
  opacity: 0;
  top: 50px;
  right: 20px;
  transition: 0.3s;
}

.button1:hover span {
  padding-right: 20px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
  padding-bottom:20px;  
}
p{
  font-size: 130%;
}
.button {
  border-radius: 4px;
  background-color: #454fd4;
  border: none;
  color: white;
  /* text-align: center; */
  font-size:  px;
  padding: 20px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1s;
}
.button span:after {
  content: '\00bb';
  position: "relative";
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-left: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
div .border {
  border-color: red;
  margin: 4px;
  padding: 4px;
  border-width: 3px;
}

.outer {
background-color:white;
width:400px; /* You can define it by % also */
height:400px; /* You can define it by % also */
position:relative;
border:1px solid black;
border-radius: 50%;
}

.inner {
background-color:white;
top: 25%; left:25%; /* of the container */
width:50%; /* of the container */
height:50%; /* of the container */
position: relative;
border:1px solid black;
border-radius: 50%;
}
.cbtn {
  display:block;
  width:50%; /* of the container */
  height:50%;
  top: 25%; left:25%;
  border-radius: 50%;
}
.cbtn a {
  text-align:center;
  color:blue;
  font-family:Verdana;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
}


  </style>
</head>

<body>

  <% include ../views/partials/header %>

  <section class="page-title bg-primary position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="text-white font-tertiary">Flip Lab</h1>
        </div>
      </div>
    </div>
  
  </section>
<section class="section"  align= "center">
  <div class="container">
    <br>
  <div class="outer">
    <div class="inner"  >
      <div class="cbtn"><a href="<%= data.url %>/ide %>" class="cbtn">Online Editor</a></div>
      <!-- <a class= "cbtn" href= "<%= data.url %>/ide %>" target="_blank"><span>Online Editor</span></a> -->
    </div>
</div>
<br>
</div>
</section>
<!-- jQuery -->
<script src="plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<script src="js/script.js"></script>

</body>
</html>