<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Practice Questions</title>
</head>
<body>

	<p><%= data[0].questionId %></p>
</body>
</html>