<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../plugins/bootstrap/bootstrap.min.css" />
    <!-- slick slider -->
    <link rel="stylesheet" href="../plugins/slick/slick.css" />
    <!-- themefy-icon -->
    <link rel="stylesheet" href="../plugins/themify-icons/themify-icons.css" />
    <link rel="icon" type="image/png" href="../../images/logo-backup2.png" />

    <!-- Main Stylesheet -->
    <link href="../css/dist/jquery.flipster.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />

    <!--Favicon-->
    <link
      rel="shortcut icon"
      href="../images/favicon.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <title><%= title %></title>
  </head>
  <body>
    <% include ../views/partials/header %>
    <section>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </section>
    <% include ../views/partials/aboutfooter %>
    <script src="../plugins/jQuery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="../plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script src="../plugins/slick/slick.min.js"></script>
    <!-- filter -->
    <script src="../plugins/shuffle/shuffle.min.js"></script>

    <!-- Main Script -->
    <script src="../js/script.js"></script>
  </body>
</html>
