<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>BuildIT</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">

  <!-- Main Stylesheet -->
  <link href="css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>

<!--<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="index"><img src="images/logo.png" alt="Myself"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>-->
  <!-- <% include ../views/partials/header %> -->

<!-- page title -->
<!-- <section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">Contests</h1>
      </div>
    </div>
  </div>

</section> -->
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
    <div class="container">
    <div class="row">
      <div class="col-md-8">
        <button class = "button"><a href= "questions" style="color:white" ><span>Back to Questions</span></a></button></a><br><br>
        <h3 class="section-title">Easy Fibonacci</h3>
        <div class = "font-tertiary text-white">
            <p class="cars-text">The Fibonacci sequence F0,F1,… is a special infinite sequence of non-negative integers, where F0=0, F1=1 and for each integer n≥2, Fn=Fn−1+Fn−2.<br>
  
            Consider the sequence D of the last decimal digits of the first N Fibonacci numbers,<br>i.e. D=(F0%10,F1%10,…,FN−1%10). Now, you should perform the following process:<br>
            
            1) Let D=(D1,D2,…,Dl).<br>
            2) If l=1, the process ends.<br>
            3) Create a new sequence E=(D2,D4,…,D2⌊l/2⌋). In other words, E is the sequence created by removing all odd-indexed elements from D.<br>
            4) Change D to E.<br>
            5) When this process terminates, the sequence D contains only one number. You have to find this number.<br>
            </p>
        </div>
        <div>
              
                <h6><b>Input:</b></h6>
                <blockquote>
                <li>The first line of the input contains a single integer T denoting the number of test cases. The description of T test cases follows.</li>
                <li>The first and only line of each test case contains a single integer N.</li>
                </blockquote>


        </div>
        <div>
              
            <h6><b>Output:</b></h6>
            <blockquote>
            <li> For each test case, print a single line containing one integer ― the last remaining number.</li>
            </blockquote>
            

    </div>
    <div>
              
        <h6><b>Constraints:</b></h6>
        <blockquote>
        <li>1 ≤T ≤10<sup>5</sup></li>
        <li>1 ≤N≤ 10<sup>18</sup></li>
        </blockquote>
        

</div>
<div>
              
    <h5><b>Subtasks:</b></h5>
    <div><h6><b>Subtask-1:</b></h6>
    <blockquote>
      <li>1≤T≤10<sup>5</sup></li>
      <li>1≤N≤10<sup>7</sup></li>
    </blockquote>
    </div>
    <h6><b>Subtask-2</b></h6>
    <blockquote>
    <li>The first line of the input contains a single integer T denoting the number of test cases. The description of T test cases follows.</li>
    <li>The first and only line of each test case contains a single integer N.</li>
    </blockquote>
    

</div>
<div>
              
    <h6><b>Input:</b></h6>
    <blockquote>
    <li>The first line of the input contains a single integer T denoting the number of test cases. The description of T test cases follows.</li>
    <li>The first and only line of each test case contains a single integer N.</li>
    </blockquote>
    

</div>
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <!-- <div class="shadow-down mb-4">
          <img src="images/about/author.jpg" alt="author" class="img-fluid w-100 rounded-lg border-thick border-white">
        </div> -->
        <!-- <img src="images/about/signature.png" alt="signature" class="img-fluid">
        <h4>Johnathan Smith</h4> -->
      </div>
    </div>
  </div>
</section>

<!-- clients -->
<!--<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">IARE Placements</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="client-logo-slider d-flex align-items-center">
          <a href="https://www.techmahindra.com" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="images/clients-logo/TechMahindra.jpg" alt="client-logo"></a>
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="images/clients-logo/client-logo-2.png" alt="client-logo"></a>
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="images/clients-logo/client-logo-3.png" alt="client-logo"></a>
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="images/clients-logo/client-logo-4.png" alt="client-logo"></a>
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="images/clients-logo/client-logo-5.png" alt="client-logo"></a>
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="images/clients-logo/client-logo-1.png" alt="client-logo"></a>
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="images/clients-logo/client-logo-2.png" alt="client-logo"></a>
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="images/clients-logo/client-logo-3.png" alt="client-logo"></a>
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="images/clients-logo/client-logo-4.png" alt="client-logo"></a>
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="images/clients-logo/client-logo-5.png" alt="client-logo"></a>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- /clients -->
<!-- footer -->
<!--<footer class="bg-dark footer-section">-->
  <!-- <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary">steve.fruits@email.com</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary">+880 2544 658 256</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary">125/A, CA Commercial Area, California, USA</p>
        </div>
      </div>
    </div>
  </div> -->
  <!--<div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright ©<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script> Institute of Aeronautical Engineering</p>
  </div>
</footer>-->
<!-- /footer -->
<!-- jQuery -->
<script src="plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<script src="js/script.js"></script>

</body>
</html>