<!DOCTYPE html>
<html>
<title>Submissions Table</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Contest Id - </h2>

  <table class="w3-table w3-striped">
    <tr>
      <th>Username</th>
      <th>Question Id</th>
    </tr>
    <tr>
      <td>Mohammed Abubakar</td>
      <td>100</td>
    </tr>
    <tr>
      <td>Tayeeb Hasan</td>
      <td>100</td>
    </tr>
    <tr>
      <td>Krishna Chandra Boyapati</td>
      <td>100</td>
    </tr>
  </table>
</div>

</body>
</html>
