<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Admin menu</title>
		<meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
		<meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" href="../../css/navadmin.css">
		<link rel = "icon" type = "image/png" href = "../../images/logo-backup2.png">
		<script src="/adminjs/modernizr.custom.js"></script>

		<link href="plugins/bootstrap-5/css/bootstrap.min.css" rel="stylesheet">
		<style>
			.b-example-divider {
				height: 3rem;
				height: 61px;
			}
		</style>
		<style>
			form {
					width: initial;
					padding: initial;
					box-shadow: none;
					background: inherit;
			}

			input[type="text"], select {
					margin: 0;
					box-sizing: inherit;
					display: block;
					width: 100%;
					padding: 0.375rem 0.75rem;
					border: 1px solid #ced4da;
					border-radius: 0.25rem;

					/* font-size: 1rem;
					font-weight: 400;
					line-height: 1.5;
					color: #212529;
					background-color: #fff;
					background-clip: padding-box;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
			}

			.input-group .btn {
					position: relative;
					z-index: 0;
			}
		</style>
	</head>
	<body class="bg-dark">
		<div class="">
			<% include ../views/partials/adminpanel %>
			<div class="b-example-divider border-bottom mb-2"></div>
			<div class="d-flex justify-content-end">
				<button class="card" onclick="darkMode()">Darkmode</button>
			</div>
			<div class="container">
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#course" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Add Course</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#exam" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Add Exam</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#section" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Add Section</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#question" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Add Question</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#import-question" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Import Question</button>
					</li>
				</ul>
				<div class="tab-content border p-2 bg-light" id="pills-tabContent">
					<div class="tab-pane fade show active" id="course" role="tabpanel" aria-labelledby="pills-home-tab">
						<!--One-->
						<form action="<%= data.serverurl %>/iareTests" method = "POST">
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Course Id</span>
								<input name="iareTestId" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Course Name</span>
								<input name="iareTestName" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<textarea
								type="hidden"
								name="token"
								id="token"
								value="<%= token %>"
								style="display: none"></textarea>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
						<!--One-->
					</div>
					<div class="tab-pane fade" id="section" role="tabpanel" aria-labelledby="pills-contact-tab">
						<!--One-->
						<form>
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Exam Id</span>
								<input name="iareTestSectionId" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Section Id</span>
								<input name="iareTestSectionId" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Section Name</span>
								<input name="iareTestSectionName" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
						<!--One-->
					</div>
					<div class="tab-pane fade" id="exam" role="tabpanel" aria-labelledby="pills-profile-tab">
						<!--One-->
						<form action="<%= data.serverurl %>/iareTestSections" method = "POST">
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Course Id</span>
								<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Exam Id</span>
								<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Exam Name</span>
								<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Exam Date</span>
								<input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Exam Duration</span>
								<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Exam Start Time</span>
								<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Exam End Time</span>
								<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
						<!--One-->
					</div>
					<div class="tab-pane fade" id="question" role="tabpanel" aria-labelledby="pills-contact-tab">
						<!--One-->
						<form class="row g-3">
							<div class="col-md-4">
								<label for="validationDefault01" class="form-label">Course Id</label>
								<input type="text" class="form-control" id="validationDefault01" value="IARE123" required>
							</div>
							<div class="col-md-4">
								<label for="validationDefault02" class="form-label">Exam Id</label>
								<input type="text" class="form-control" id="validationDefault02" value="IARE123" required>
							</div>
							<div class="col-md-4">
								<label for="validationDefault03" class="form-label">Section Id</label>
								<input type="text" class="form-control" id="validationDefault03" required>
							</div>
							<hr>
							<div class="input-group mt-7">
								<span class="input-group-text" id="inputGroupPrepend2">Question Name</span>
								<input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
							</div>
							<div class="input-group mt-5">
								<span class="input-group-text" id="inputGroupPrepend2">Question Id  </span>
								<input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
							</div>
							<div class="">
								<label for="exampleFormControlTextarea1" class="form-label">Question Description</label>
								<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
							</div>
							<div class="col-md-3">
								<label for="validationDefault01" class="form-label">Option 1</label>
								<input type="text" class="form-control" id="validationDefault01" required>
							</div>
							<div class="col-md-3">
								<label for="validationDefault02" class="form-label">Option 2</label>
								<input type="text" class="form-control" id="validationDefault02" required>
							</div>
							<div class="col-md-3">
								<label for="validationDefault03" class="form-label">Option 3</label>
								<input type="text" class="form-control" id="validationDefault03" required>
							</div>
							<div class="col-md-3">
								<label for="validationDefault03" class="form-label">Option 4</label>
								<input type="text" class="form-control" id="validationDefault03" required>
							</div>
							<div class="input-group">
								<span class="input-group-text" id="inputGroupPrepend2">Answer</span>
								<input type="number" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
							</div>
							<div class="col-12">
								<button class="btn btn-primary" type="submit">Add Question</button>
							</div>
						</form>
						<!--One-->
					</div>
					<div class="tab-pane fade" id="import-question" role="tabpanel" aria-labelledby="pills-contact-tab">
						<!--One-->
						<div class="input-group">
					<input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
					<button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Upload</button>
				</div>
						<!--One-->
				</div>
				</div>
			</div>
		</div><!-- /container -->
		<script src="/adminjs/classie.js"></script>
		<script src="/adminjs/gnmenu.js"></script>
		<script src="plugins/jQuery/jquery.min.js"></script>
		<script src="plugins/bootstrap-5/js/bootstrap.bundle.min.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
		<script>
			document.getElementById("token").value = "<%= token %>";
		</script>
		<script>
			let element = document.body;
			const darkMode = () => element.classList.toggle("bg-dark");
		</script>
	</body>
</html>