<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel to update stuff</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
      .go {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px; 
      background: #095484;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      .go:hover {
      background: #0666a3;
      }
      @media (min-width: 568px) {
      th, td {
      word-break: keep-all;
      }
      }
       h4{
        color: #000;
        font-family: "Playfair Display", serif;
        line-height: 1.2;
}

        h4, .h4 {
         font-size: 22px;
}

    </style>
    <script>
    $(document).ready(function(){
    $(this).scrollTop(0);
});
    </script>
    </head>
    <body>
      <br><br><br><br><br><br><br><br>
      <center><h4>Update Contests</h4></center><br>
      <center><a href="http://localhost:3000/admin/update/contest" style="color:white" ><button class="go">Go!</button></a></center><br><br>
      <center><h4>Update Questions</h4></center><br>
      <center><a href="http://localhost:3000/admin/update/question" style="color:white" ><button class="go">Go!</button></a></center><br><br>
    </div>
  </body>
</html>