<!DOCTYPE html>
<html>
  <head>
    <title> Update Questions</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
      html, body {
      min-height: 100%;
      }
      body, input { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
      }
      h1, h4 {
      font-weight: 400;
      }
      h4 {
      margin: 22px 0 4px;
      }
      h5 {
      text-transform: uppercase;
      color: #095484;
      }
      .main-block {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px;
      }
      form {
      width: 100%;
      padding: 20px;
      box-shadow: 0 2px 5px #ccc; 
      background: #fff;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      border-radius: 3px;
      border: 1px solid #ccc;
      vertical-align: middle;
      }
      textarea {
      width: calc(100% - 6px);
      outline: none;
      }
      input:hover, textarea:hover {
      outline: none;
      border: 1px solid #095484;
      }
      th, td {
      width: 15%;
      padding: 15px 0;
      border-bottom: 1px solid #ccc;
      text-align: center;
      vertical-align: unset;
      line-height: 18px;
      font-weight: 400;
      word-break: break-all;
      }
      .additional-question th, .additional-question td {
      width: 38%;
      }
      .course-rate th, .course-rate td {
      width: 19%;
      }
      .first-col, .additional-question  .first-col, .course-rate .first-col {
      width: 24%;
      text-align: left;
      }
      .question, .comments {
      margin: 15px 0 5px;
      }
      .question-answer label {
      display: inline-block;
      padding: 0 20px 15px 0;
      }
      .question-answer input {
      width: auto;
      }
      .question-answer, table {
      width: 100%;
      }
      .btn-block {
      margin-top: 20px;
      text-align: center;
      }
      .submit {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px; 
      background: #095484;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      .submit:hover {
      background: #0666a3;
      }
      @media (min-width: 568px) {
      th, td {
      word-break: keep-all;
      }
      }
      .button {
  border-radius: 4px;
  background-color: #454fd4;
  border: none;
  color: white;
  /* text-align: center; */
  font-size:  px;
  padding: 5px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1s;
}

.button span:after {
  content: '\00bb';
  position: "relative";
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
    </style>
  </head>
  <body>
      <center><button class = "button"><a href= "http://localhost:3000/admin/update/contest" style="color:white" ><span>Update Contest Admin Panel</span></a></button></a><br><br></center>
    <div class="main-block"></div>
    <form action="http://localhost:5000/questions" method = "POST">
      <h1>BuildIt Questions Admin Panel</h1>
      <h4>Question ID</h4>
      <input name="questionId" type="text"/>
      <h4>Question Name</h4>
      <input name="questionName" type="text"/>
      <h4>Contest ID</h4>
      <input name="contestId" type="text"/>
      <p class="comments">Description</p>
      <textarea name="questionDescriptionText" rows="30"></textarea>
      <p class="comments">Input</p>
      <textarea name="questionInputText" rows="10"></textarea>
      <p class="comments">Output</p>
      <textarea name="questionOutputText" rows="10"></textarea>
      <p class="comments">Example Input 1:</p>
      <textarea name="questionExampleInput1" rows="10"></textarea>
      <p class="comments">Example Output 1:</p>
      <textarea name="questionExampleOutput1" rows="10"></textarea>
      <p class="comments">Example Input 2:</p>
      <textarea name="questionExampleInput2" rows="10"></textarea>
      <p class="comments">Example Output 2:</p>
      <textarea name="questionExampleOutput2" rows="10"></textarea>
      <p class="comments">Example Input 3:</p>
      <textarea name="questionExampleInput3" rows="10"></textarea>
      <p class="comments">Example Output 3:</p>
      <textarea name="questionExampleOutput3" rows="10"></textarea>
      <p class="comments">Hidden Input 1:</p>
      <textarea name="questionHiddenInput1" rows="10"></textarea>
      <p class="comments">Hidden Output 1:</p>
      <textarea name="questionHiddenOutput1" rows="10"></textarea>
      <p class="comments">Hidden Input 2:</p>
      <textarea name="questionHiddenInput2" rows="10"></textarea>
      <p class="comments">Hidden Output 2:</p>
      <textarea name="questionHiddenOutput2" rows="10"></textarea>
      <p class="comments">Hidden Input 3:</p>
      <textarea name="questionHiddenInput3" rows="10"></textarea>
      <p class="comments">Hidden Output 3:</p>
      <textarea name="questionhiddenOutput3" rows="10"></textarea>
      <p class="comments">Explanation</p>
      <textarea name="questionExplanation" rows="30"></textarea>
      <p class="comments">Author:</p>
      <textarea name="author" rows="10"></textarea>
      <p class="comments">Editorial:</p>
      <textarea name="editorial" rows="10"></textarea>
      <p class="comments">Difficulty</p>
      <textarea name="difficulty" rows="10"></textarea>
      <div class="btn-block">
        <button class= "submit" type="submit" href="/">Send</button>
      </div>
    </form>
    </div>
  </body>
</html>