<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin menu</title>
    <meta
      name="description"
      content="A sidebar menu as seen on the Google Nexus 7 website"
    />
    <meta
      name="keywords"
      content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu"
    />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico" />
    <link rel="stylesheet" href="../../css/navadmin.css" />
    <link rel="icon" type="image/png" href="../../images/logo-backup2.png" />
    <script src="/adminjs/modernizr.custom.js"></script>
  </head>
  <body>
    <div class="container">
      <% include ../views/partials/adminpanel %>
      <header>
        <h1>
          Manage Flipped Classroom<span style="color: white">Add PDFs</span>
        </h1>
      </header>
      <div class="main-block">
        <form
          class="fileupload"
          action="<%= data.serverurl %>/uploadpdf"
          method="post"
          enctype="multipart/form-data"
        >
          <h1>Upload File Here</h1>
          <input type="file" name="upfile" value="" />
          <textarea
            type="hidden"
            name="token"
            id="token"
            value="<%= token %>"
            style="display: none"
          ></textarea>
          <input type="submit" />
        </form>
      </div>
    </div>
    <!-- /container -->
    <script src="/adminjs/classie.js"></script>
    <script src="/adminjs/gnmenu.js"></script>
    <script>
      new gnMenu(document.getElementById("gn-menu"));
    </script>
    <script>
      document.getElementById("token").value = "<%= token %>";
    </script>
  </body>
</html>
