<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visitor Pass | Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&family=VT323&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <script src="../js/barcode.js"></script>
    <style>
      html {
        scroll-behavior: smooth;
      }
      ::-webkit-scrollbar {
        width: 0.65vw;
        height: 0vh;
      }
      ::-webkit-scrollbar-track {
        border-radius: 10px;
        background: transparent;
      }
      ::-webkit-scrollbar-thumb {
        background: rgb(155, 155, 155);
        border-radius: 0.5vw;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(110, 110, 110);
      }
      body {
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100vh;
        background: white;
      }
      .header {
        width: 100%;
        font-family: "Space Mono";
        padding: 5px 0;
      }
      .header .title {
        font-size: x-large;
        width: fit-content;
        padding: 10px 15px;
        font-weight: 500;
        display: inline-flex;
        align-items: center;
      }
      .header .title span {
        margin-right: 10px;
        font-size: xx-large;
        color: rgb(0, 161, 75);
      }
      .form {
        width: 100%;
        min-height: calc(100vh - 120px);
        border-radius: 4mm;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        flex-direction: column;
        background: rgb(239, 239, 239);
        font-family: poppins;
      }

      .footer {
        background: linear-gradient(
          90deg,
          rgb(0, 161, 75) 30%,
          rgb(139, 197, 63) 100%
        );
        width: 100%;
        padding: 5px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .footer a {
        text-decoration: none;
        font-size: x-large;
        font-family: poppins;
        color: white;
        font-weight: 500;
        margin: 15px 20px;
      }
      .footer p {
        font-family: poppins;
        font-size: medium;
        color: rgba(255, 255, 255, 0.92);
        font-weight: 400;
        margin-right: 20px;
      }
      .small-title {
        font-size: large;
        font-family: raleway;
        letter-spacing: 1px;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <section class="header">
      <div class="title">
        <span class="material-icons-round"> confirmation_number </span>
        Visitor Pass | IARE
      </div>
    </section>
    <section class="form">
      Your phone number verification is completed. <br />
      Please wait until admin allocates a visitor pass to you. <br />
      You recieve your pass through an SMS to registered mobile number.
    </section>
    <section class="footer">
      <a href="http://buildit.iare.ac.in/">BuildIT | IARE</a>
      <p>
        Copyright ©
        <script>
          var CurrentYear = new Date().getFullYear();
          document.write(CurrentYear);
        </script>
      </p>
    </section>
  </body>
</html>
