// Color Variables
$primary-color: hsl(0, 98%, 49%);
$secondary-color: hsl(332, 65%, 49%);
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;
$tertiary-font: 'BwNistaInt-xBd';
$icon-font: 'themify';