localServer = true
secret = xxxx
clientAddress = http://buildit.iare.ac.in
serverAddress = http://13.234.234.30:5000
apiAddress = https://api.judge0.com/
localAPI = http://13.234.234.30:3000
dbURL = mongodb://localhost/BuildIT
OAuthClientID = xxxx
OAuthClientSecret = xxxx
OAuthRefreshToken = xxxx
countApiKey = xxxx
