// Color Variables
$primary-color: #41228e;
$secondary-color: #2bfdff;
$iare: #A62232;
// $primary-color: #A62232;
// $secondary-color: #C5001F;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;
$tertiary-font: 'BwNistaInt-xBd';
$icon-font: 'themify';